@import url("https://fonts.googleapis.com/css2?family=Grandstander&display=swap");

html {
  box-sizing: border-box; /* stop extra padding strech in a page */
}
body {
  margin: 0;
  min-height: 100vh;
  color: black;
  font-size: 32px;
  font-family: "Grandstander", cursive;
  font-weight: 800;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0C6.716 0 0 6.716 0 15c8.284 0 15-6.716 15-15zM0 15c0 8.284 6.716 15 15 15 0-8.284-6.716-15-15-15zm30 0c0-8.284-6.716-15-15-15 0 8.284 6.716 15 15 15zm0 0c0 8.284-6.716 15-15 15 0-8.284 6.716-15 15-15z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
/* various link :
heropatterns.com
 */
